body {
  font-family: Arial, sans-serif;
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 55px;
  font-weight: bold;
}

.section {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: square;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

img {
  width: 100%;
  max-width: 230px;
  height: 250px;
  border-radius: 8px;
}





h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}



input[type=text] {
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 780px;
  padding: 10px 40px;
}

textarea {
  width: 500px;
  height: 80px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}