body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    }

    header {background-color: #333; padding: 20px;}
    
    header {
      text-align: center;
      background-color: #333;
      color: white;
      padding: 20px; font-size: 55px; font-weight: bold;
    }

    .section {
      background: #fff;
      margin: 20px auto;
      padding: 20px;
      border-radius: 8px;
      width: 80%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    h2 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }

    img {
  width: 100%;
  max-width: 300px;
  height: auto;  
  border-radius: 8px;
}
    
#section4 {
  background-color: #fff;
  padding: 40px;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section4 h2 {
  text-align: center;
  color: #1a1a1a; 
  margin-bottom: 20px;
}

#section4 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#section4 input,
#section4 textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#section4 button {
  width: 100%;
  padding: 12px;
  background-color: #1e3d7b;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#section4 button:hover {
  background-color: #16316a;
}

.section5 {
  background-color: #fff8dc; 
  padding: 40px;
  max-width: 500px;
  margin: 30px auto;
  
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section5 h2 {
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 20px;
}
section5 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.section {
      background: #fff;
      margin: 20px auto;
      padding: 20px;
      border-radius: 8px;
      width: 80%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    h2 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }



input[type=text] {
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button[type="submit"] {width: 780px;
padding: 10px 40px;}

textarea {width: 500px; height: 80px; padding: 10px; border-radius: 8px; border: 1px solid #ccc; font-size:16px;
}




